# Local development
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_CONVEX_URL=https://agreeable-parrot-800.convex.cloud
CONVEX_SITE_URL=https://agreeable-parrot-800.convex.site

# Production values for hosting, such as Vercel
# NEXT_PUBLIC_WEB_URL=https://pushcounter.online
# NEXT_PUBLIC_CONVEX_URL=https://mellow-gerbil-151.convex.cloud
# CONVEX_SITE_URL=https://mellow-gerbil-151.convex.site

NEXT_PUBLIC_IOS_BUNDLE_ID=com.ahmedmansour.pushcounter
NEXT_PUBLIC_APPLE_TEAM_ID=U7JF269T76
NEXT_PUBLIC_SUPPORT_EMAIL=support@nexfiy.com
